.container {
  margin: auto;
  width: 80%;
}

.player {
  display: flex;
  flex-flow: row nowrap;
  height: 50vh;
  margin: 0 auto;
  width: 100%; 
}

.lyric {
  height: 100%;
  overflow: scroll;
  width: 30%;
}

.lyric-item {
  height: 15%;
  width: 100%;
}

.lyric-item:hover {
  background: lightgrey;
  cursor: pointer;
}